.gradle
.DS_Store
.externalNativeBuild
.cxx
.idea/
.externalNativeBuild/
.cxx/
.gradle/
*.iml
*.log
*.apk
*.jks
*.keystore
*.hprof
local.properties
output.json
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
google-services.json
build/
captures/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
